<?foreach ($forms as $formNumber => $form):?>
	<?foreach ($form['data'] as $key => $value):?>
		<div class='field-title'><?=$key?></div>
		<div class='field-value'>
			<select name='addForm[]'>
				<option></option>
				<option value='<?=$key?>:url'>URL</option>
				<option value='<?=$key?>:name'>Название</option>
				<option value='<?=$key?>:description'>Описание</option>
				<option value='<?=$key?>:tags'>Тэги</option>
				<option value='<?=$key?>:check'>Проверить</option>
				<option value='<?=$key?>:null'>Убрать</option>
			</select>
		</div>
	<?endforeach?>
	<hr/>
<?endforeach?>